div{
    background-color:blueviolet;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
}
#box1{
/* position:static; */
background-image:url("raus.jpg");
background-size:cover;
position: sticky;
top:34px;
}

#box2{
position: relative;
background-image:url(raus2.jpg);
background-size:contain;
top:20px;
left:10px;
}

#box3{
    /* position: absolute; */
    position: fixed;
    bottom: 2px;
}
#box4{
    position: fixed;
    top:0px;
}
body{
    background-image:url("raus.jpg");
    background-size:cover;
}