#two{
    Border: 2px solid blue;}
#one{
    background-color: yellow;
    border-color: red;
    width: 250px;
    height: 50px;
    border-width:500;
    border-style:solid;
    }

#four{
        border:2px solid green;
}
    
#five { background-color: yellow;
        b background-color: yellow;
        border-color: red;
        width: 180px;
        height: 100px;
        border-width:500;
        border-style:solid;
        border-radius: 50px;
    }

#six{ background-color: yellow;
    border-color: red;
    width: 180px;
    height: 100px;
    border-width:500;
    border-style:solid;
    border-radius: 50px;

}
#seven{
    background-color: yellow;
    border-color: red;
    width: 180px;
    height: 100px;
    border-width:500;
    border-style:solid;
    width: 120px;
    border-radius: 50px;

}
#eight{
    background-color: yellow;
    border-color: re
    height: 50px;
    border-width:500;
    border-style:solid;
    border-radius: 50px;
    padding-left:180px; 
    padding-top: 20px;
}
#nine{
    padding:1px 2px 3px;
    background-color: yellow;
    border-color: re
    height: 50px;
    border-width:500;
    border-style:solid;
    border-radius: 50px;
}

#ten{
    padding:1px 2px 3px;
    background-color: yellow;
    border-color: re
    height: 50px;
    border-width:500;
    border-style:solid;
    border-radius: 50px;
    margin-left: 180px;
    margin-top: 20px;
}

#eleven{
    padding:1px 2px 3px;
    background-color: yellow;
    border-color: re
    height: 50px;
    border-width:500;
    border-style:solid;
    border-radius: 50px;
    margin:1px 2px 3px;
}

#twelve{
display: inline;
background-color: red;
}

#thirteen{

display:inline-block;
padding:1px 2px 3px;
    background-color: yellow;
    border-color: re
    height: 50px;
    border-width:500;
    border-style:solid;
    border-radius: 50px;
    margin:1px 2px 3px
}
#fourteen{
    display:none;
}
#fifteen{
    visibility: hidden;
}

#box1{
position: static;
background-color: yellow;
border-color: re
height: 50px;
border-width:500;
border-style:solid;
border-radius: 50px;
margin:1px 2px 3px

}
#box2{
    position: static;
    background-color: yellow;
    border-color: re
    height: 50px;
    border-width:500;
    border-style:solid;
    border-radius: 50px;
    margin:1px 2px 3px
}
#box3{

    position: static;
background-color: yellow;
border-color: re
height: 50px;px;
border-width:500;
border-style:solid;
border-radius: 50px;
margin:1px 2px 3px;


