body{
    text-align: center;
}

div{
    height:100px;
    width:100px;
    display:inline-block;
    border:2px solid black;

}

#container{
    width: 800px;
    height: 400px;
    display: flex;
    /* flex-direction:row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content:flex-end; */
    /* justify-content:flex center; */
    /* justify-content:space-around; */
    /* justify-content: space-evenly; */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;



}

#box1{
    background-color: aqua;
}   

}

#box2{
    background-color: yellow;
}

#box3{
    background-color: blueviolet;
}
#box4{
    background-color: blue;

}
#box5{
    background-color: chocolate;
}

