h1 {
    color:blue;
    background-color: yellow;
}
body{
    background-color:pink;
}
button{
    color: aqua;
    background-color:purple;
    
}
#box{
    height:100px;
    width: 100px;
    background-color:red;
    border: 1px solid black;
    border-radius:4px;

}